<ion-header>
  <ion-navbar>
  <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
  </button>
    <ion-title>
      {{title}}
    </ion-title>
  </ion-navbar>
</ion-header>
 
<ion-content padding>
  <ion-list>
    <ion-item *ngFor="let item of items" (click)="itemClicked($event,item)">
      <ion-avatar item-left>
        <img src="{{item.picture.thumbnail}}">
      </ion-avatar>
 
      <h2>{{item.name.first | uppercase }}</h2>
      <h3>{{item.gender}}</h3>
 
      <ion-icon *ngIf="item.gender=='female'" name="woman" item-left></ion-icon>
      <ion-icon *ngIf="item.gender=='male'" name="man" item-left></ion-icon>
 
      <ion-icon name="heart" item-right></ion-icon>
      <button danger item-right (click)="buttonClick($event)">Button</button>
 
    </ion-item>
 
  </ion-list> 
</ion-content>